extends _layout
block title
  title Gulp Static Starter v4
block content
  .wrapper
    div
      h1 Gulp 4.0 
      include include/_includetest.pug
    img(src="./img/logo.png", alt="logo" width=100)